In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("weatherAUS.csv")
print(df.shape)
df.head()

(145460, 23)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

In [3]:
df.columns

Index(['Date', 'Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation',
       'Sunshine', 'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainToday', 'RainTomorrow'],
      dtype='object')

In [4]:
target = "RainTomorrow"

numFeatures = [
    "MinTemp",
    "MaxTemp",
    "Rainfall",
    "Evaporation",
    "Sunshine",
    "WindGustSpeed",
    "WindSpeed9am",
    "WindSpeed3pm",
    "Humidity9am",
    "Humidity3pm",
    "Temp9am",
    "Temp3pm",
    "Pressure3pm",
    "Pressure9am",
    "Cloud9am",
    "Cloud3pm",
    "Year",
    "Month",
    "Day",
    ]

catFeatures = [
    "Location",
    "WindGustDir",
    "WindDir9am",
    "WindDir3pm",
    "RainToday",
    "RainTomorrow",
    ]

In [5]:
df['Date'] = pd.to_datetime(df['Date'])

df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.day

df.drop('Date', inplace=True, axis=1)

In [6]:
df[catFeatures].isnull().sum()

Location            0
WindGustDir     10326
WindDir9am      10566
WindDir3pm       4228
RainToday        3261
RainTomorrow     3267
dtype: int64

In [7]:
df[numFeatures].isnull().sum()

MinTemp           1485
MaxTemp           1261
Rainfall          3261
Evaporation      62790
Sunshine         69835
WindGustSpeed    10263
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Temp9am           1767
Temp3pm           3609
Pressure3pm      15028
Pressure9am      15065
Cloud9am         55888
Cloud3pm         59358
Year                 0
Month                0
Day                  0
dtype: int64

In [8]:
df["Location"].unique()

array(['Albury', 'BadgerysCreek', 'Cobar', 'CoffsHarbour', 'Moree',
       'Newcastle', 'NorahHead', 'NorfolkIsland', 'Penrith', 'Richmond',
       'Sydney', 'SydneyAirport', 'WaggaWagga', 'Williamtown',
       'Wollongong', 'Canberra', 'Tuggeranong', 'MountGinini', 'Ballarat',
       'Bendigo', 'Sale', 'MelbourneAirport', 'Melbourne', 'Mildura',
       'Nhil', 'Portland', 'Watsonia', 'Dartmoor', 'Brisbane', 'Cairns',
       'GoldCoast', 'Townsville', 'Adelaide', 'MountGambier', 'Nuriootpa',
       'Woomera', 'Albany', 'Witchcliffe', 'PearceRAAF', 'PerthAirport',
       'Perth', 'SalmonGums', 'Walpole', 'Hobart', 'Launceston',
       'AliceSprings', 'Darwin', 'Katherine', 'Uluru'], dtype=object)

In [9]:
df['latitude'] = df.Location
df['longitude'] = df.Location

In [10]:
import geopy
from geopy.geocoders import Nominatim

for town in ['Albany', 'Albury', 'Alice Springs', 'Adelaide', 'Badgerys Creek', 'Ballarat',
       'Bendigo', 'Brisbane', 'Cairns', 'Canberra', 'Cobar', 'Coffs Harbour',
       'Dartmoor', 'Darwin', 'Gold Coast', 'Hobart', 'Katherine', 'Launceston',
       'Melbourne', 'Melbourne Airport', 'Mildura', 'Moree', 'Mount Gambier',
       'Mount Ginini', 'Newcastle', 'Nhil', 'Norah Head', 'Norfolk Island',
       'Nuriootpa', 'Pearce RAAF', 'Penrith', 'Perth', 'Perth Airport',
       'Portland', 'Richmond', 'Sale', 'Salmon Gums', 'Sydney', 'Sydney Airport',
       'Townsville', 'Tuggeranong', 'Uluru', 'Wagga Wagga', 'Walpole',
       'Watsonia', 'Williamtown', 'Witchcliffe', 'Wollongong', 'Woomera']:
    print(town)
    df.latitude.replace({town.replace(" ",""): Nominatim(user_agent='coder').geocode(town + ' Australia').latitude}, inplace=True)
    df.longitude.replace({town.replace(" ",""): Nominatim(user_agent='coder').geocode(town + ' Australia').longitude}, inplace=True)

Albany
Albury
Alice Springs
Adelaide
Badgerys Creek
Ballarat
Bendigo
Brisbane
Cairns
Canberra
Cobar
Coffs Harbour
Dartmoor
Darwin
Gold Coast
Hobart
Katherine
Launceston
Melbourne
Melbourne Airport
Mildura
Moree
Mount Gambier
Mount Ginini
Newcastle
Nhil
Norah Head
Norfolk Island
Nuriootpa
Pearce RAAF
Penrith
Perth
Perth Airport
Portland
Richmond
Sale
Salmon Gums
Sydney
Sydney Airport
Townsville
Tuggeranong
Uluru
Wagga Wagga
Walpole
Watsonia
Williamtown
Witchcliffe
Wollongong
Woomera

In [11]:
# df = df.join(pd.get_dummies(df.Location, drop_first=True))
df.drop('Location',inplace= True,axis=1)

In [12]:
for col in [
    'WindGustDir',
    'WindDir9am',
    'WindDir3pm',
    'RainToday',
    'RainTomorrow'
    ]:
    df = df[df[col].notna()]

In [13]:
df["WindGustDir"].unique()

array(['W', 'WNW', 'WSW', 'NE', 'NNW', 'N', 'NNE', 'SW', 'ENE', 'SSE',
       'S', 'NW', 'SE', 'ESE', 'E', 'SSW'], dtype=object)

In [14]:
pd.get_dummies(df.WindGustDir, drop_first=True).head()

   ENE  ESE  N  NE  NNE  NNW  NW  S  SE  SSE  SSW  SW  W  WNW  WSW
0    0    0  0   0    0    0   0  0   0    0    0   0  1    0    0
1    0    0  0   0    0    0   0  0   0    0    0   0  0    1    0
2    0    0  0   0    0    0   0  0   0    0    0   0  0    0    1
3    0    0  0   1    0    0   0  0   0    0    0   0  0    0    0
4    0    0  0   0    0    0   0  0   0    0    0   0  1    0    0

In [15]:
df = df.join(pd.get_dummies(df.WindGustDir, drop_first=True, prefix="WGD"))
df.drop('WindGustDir', inplace=True, axis=1)

In [16]:
df["WindDir3pm"].unique()

array(['WNW', 'WSW', 'E', 'NW', 'W', 'SSE', 'ESE', 'ENE', 'NNW', 'SSW',
       'SW', 'SE', 'N', 'S', 'NNE', 'NE'], dtype=object)

In [17]:
pd.get_dummies(df.WindDir3pm, drop_first=True).head()

   ENE  ESE  N  NE  NNE  NNW  NW  S  SE  SSE  SSW  SW  W  WNW  WSW
0    0    0  0   0    0    0   0  0   0    0    0   0  0    1    0
1    0    0  0   0    0    0   0  0   0    0    0   0  0    0    1
2    0    0  0   0    0    0   0  0   0    0    0   0  0    0    1
3    0    0  0   0    0    0   0  0   0    0    0   0  0    0    0
4    0    0  0   0    0    0   1  0   0    0    0   0  0    0    0

In [18]:
df = df.join(pd.get_dummies(df.WindDir3pm, drop_first=True, prefix="WD3PM"))
df.drop('WindDir3pm',inplace= True,axis=1)

In [19]:
df["WindDir9am"].unique()

array(['W', 'NNW', 'SE', 'ENE', 'SW', 'SSE', 'S', 'NE', 'SSW', 'N', 'WSW',
       'ESE', 'E', 'NW', 'WNW', 'NNE'], dtype=object)

In [20]:
pd.get_dummies(df.WindDir9am, drop_first=True).head()

   ENE  ESE  N  NE  NNE  NNW  NW  S  SE  SSE  SSW  SW  W  WNW  WSW
0    0    0  0   0    0    0   0  0   0    0    0   0  1    0    0
1    0    0  0   0    0    1   0  0   0    0    0   0  0    0    0
2    0    0  0   0    0    0   0  0   0    0    0   0  1    0    0
3    0    0  0   0    0    0   0  0   1    0    0   0  0    0    0
4    1    0  0   0    0    0   0  0   0    0    0   0  0    0    0

In [21]:
df = df.join(pd.get_dummies(df.WindDir9am, drop_first=True, prefix="WD9AM"))
df.drop('WindDir9am', inplace=True, axis=1)

In [22]:
df["RainToday"] = df["RainToday"] == 'Yes'
df["RainTomorrow"] = df["RainTomorrow"] == 'Yes'

df[target] = df[target].astype(int)

In [23]:
for x in list(df.columns.values):
    df[x] = df[x].fillna(df[x].median())

In [24]:
df['winter'] = df.apply(
    lambda row: row.Month == 12 or row.Month == 1 or row.Month == 2, axis=1)
df['spring'] = df.apply(
    lambda row: row.Month == 3 or row.Month == 4 or row.Month == 5, axis=1)
df['summer'] = df.apply(
    lambda row: row.Month == 6 or row.Month == 7 or row.Month == 8, axis=1)
df['autumn'] = df.apply(
    lambda row: row.Month == 9 or row.Month == 10 or row.Month == 11, axis=1)

In [25]:
df['winterRain'] = df.apply(
    lambda row: row.RainToday == True and row.winter == True, axis=1)
df['springRain'] = df.apply(
    lambda row: row.RainToday == True and row.spring == True, axis=1)
df['summerRain'] = df.apply(
    lambda row: row.RainToday == True and row.summer == True, axis=1)
df['autumnRain'] = df.apply(
    lambda row: row.RainToday == True and row.autumn == True, axis=1)

In [26]:
from scipy import stats
from sklearn import feature_selection

minfos= []
for var in df.columns:
    print("Values for pair {0}".format(var))
    print("Spearman", stats.spearmanr(df[target], df[var]))
    print("Mutual info", feature_selection.mutual_info_classif(df[var].values.reshape(-1,1),df[target].values))
    minfos.append(feature_selection.mutual_info_classif(df[var].values.reshape(-1,1),df[target].values)[0])

imp = list(zip(minfos, df.columns))
imp.sort(reverse=True)
imp

Values for pair MinTemp
Spearman SpearmanrResult(correlation=0.06904354134233903, pvalue=1.4262577318833018e-130)
Mutual info [0.00655454]
Values for pair MaxTemp
Spearman SpearmanrResult(correlation=-0.16773330436388395, pvalue=0.0)
Mutual info [0.01653232]
Values for pair Rainfall
Spearman SpearmanrResult(correlation=0.3362614243509933, pvalue=0.0)
Mutual info [0.05661395]
Values for pair Evaporation
Spearman SpearmanrResult(correlation=-0.10528207844065297, pvalue=8.207956005728794e-302)
Mutual info [0.0121191]
Values for pair Sunshine
Spearman SpearmanrResult(correlation=-0.3134045427819328, pvalue=0.0)
Mutual info [0.06488782]
Values for pair WindGustSpeed
Spearman SpearmanrResult(correlation=0.21476530651585884, pvalue=0.0)
Mutual info [0.02830732]
Values for pair WindSpeed9am
Spearman SpearmanrResult(correlation=0.08357844350679393, pvalue=1.3431008657596693e-190)
Mutual info [0.00611437]
Values for pair WindSpeed3pm
Spearman SpearmanrResult(correlation=0.08300987576067262, pvalue=4.9340572901133687e-188)
Mutual info [0.00701034]
Values for pair Humidity9am
Spearman SpearmanrResult(correlation=0.2839525157542938, pvalue=0.0)
Mutual info [0.04446752]
Values for pair Humidity3pm
Spearman SpearmanrResult(correlation=0.43468251153461296, pvalue=0.0)
Mutual info [0.11907586]
Values for pair Pressure9am
Spearman SpearmanrResult(correlation=-0.22270180836698533, pvalue=0.0)
Mutual info [0.02906039]
Values for pair Pressure3pm
Spearman SpearmanrResult(correlation=-0.20285875018462657, pvalue=0.0)
Mutual info [0.02662716]
Values for pair Cloud9am
Spearman SpearmanrResult(correlation=0.2572418074445471, pvalue=0.0)
Mutual info [0.04137152]
Values for pair Cloud3pm
Spearman SpearmanrResult(correlation=0.3029408192426846, pvalue=0.0)
Mutual info [0.05592404]
Values for pair Temp9am
Spearman SpearmanrResult(correlation=-0.040471952279887154, pvalue=5.1240463496237876e-46)
Mutual info [0.00118447]
Values for pair Temp3pm
Spearman SpearmanrResult(correlation=-0.20058767720733048, pvalue=0.0)
Mutual info [0.02161923]
Values for pair RainToday
Spearman SpearmanrResult(correlation=0.31586737992872854, pvalue=0.0)
Mutual info [0.04617829]
Values for pair RainTomorrow
Spearman SpearmanrResult(correlation=0.9999999999999999, pvalue=0.0)
Mutual info [0.53008295]
Values for pair Year
Spearman SpearmanrResult(correlation=-0.013034166788392856, pvalue=4.548957461063706e-06)
Mutual info [0.00067921]
Values for pair Month
Spearman SpearmanrResult(correlation=0.006007778005756355, pvalue=0.03459397483882701)
Mutual info [0.00387352]
Values for pair Day
Spearman SpearmanrResult(correlation=0.005312293019444169, pvalue=0.06169840213402399)
Mutual info [0.00345765]
Values for pair latitude
Spearman SpearmanrResult(correlation=-0.034436945844511506, pvalue=8.712871208412766e-34)
Mutual info [0.01307129]
Values for pair longitude
Spearman SpearmanrResult(correlation=0.022467927294114308, pvalue=2.7132227360898234e-15)
Mutual info [0.01450266]
Values for pair WGD_ENE
Spearman SpearmanrResult(correlation=-0.038117631848075914, pvalue=5.168556665671747e-41)
Mutual info [0.00143473]
Values for pair WGD_ESE
Spearman SpearmanrResult(correlation=-0.034142435886466746, pvalue=3.0692894596106064e-33)
Mutual info [0.00166148]
Values for pair WGD_N
Spearman SpearmanrResult(correlation=0.0334374528838726, pvalue=5.987647772316836e-32)
Mutual info [0.00223111]
Values for pair WGD_NE
Spearman SpearmanrResult(correlation=-0.02080029048212786, pvalue=2.541702521916791e-13)
Mutual info [0.00101488]
Values for pair WGD_NNE
Spearman SpearmanrResult(correlation=0.007308957982643917, pvalue=0.010147953121399824)
Mutual info [0.0002886]
Values for pair WGD_NNW
Spearman SpearmanrResult(correlation=0.036868312739983596, pvalue=1.769181138565425e-38)
Mutual info [0.0019776]
Values for pair WGD_NW
Spearman SpearmanrResult(correlation=0.04111717867453839, pvalue=1.9332950238513037e-47)
Mutual info [0.00075783]
Values for pair WGD_S
Spearman SpearmanrResult(correlation=0.0007187349785115308, pvalue=0.8004273637568312)
Mutual info [0]
Values for pair WGD_SE
Spearman SpearmanrResult(correlation=-0.022808796446720552, pvalue=1.028819138984614e-15)
Mutual info [0.00031294]
Values for pair WGD_SSE
Spearman SpearmanrResult(correlation=-0.018868846985889507, pvalue=3.1979268857633835e-11)
Mutual info [0]
Values for pair WGD_SSW
Spearman SpearmanrResult(correlation=-0.0012243568091852117, pvalue=0.6667360562470495)
Mutual info [0.00100118]
Values for pair WGD_SW
Spearman SpearmanrResult(correlation=-0.01415044646841301, pvalue=6.449230243724545e-07)
Mutual info [0]
Values for pair WGD_W
Spearman SpearmanrResult(correlation=0.033208510157034424, pvalue=1.5507080369699495e-31)
Mutual info [0.001834]
Values for pair WGD_WNW
Spearman SpearmanrResult(correlation=0.038842777897507966, pvalue=1.5991863477968928e-42)
Mutual info [0.00259665]
Values for pair WGD_WSW
Spearman SpearmanrResult(correlation=0.009138378228690321, pvalue=0.0013079734939337956)
Mutual info [0]
Values for pair WD3PM_ENE
Spearman SpearmanrResult(correlation=-0.026489738257166905, pvalue=1.1785635494863807e-20)
Mutual info [0]
Values for pair WD3PM_ESE
Spearman SpearmanrResult(correlation=-0.03232348547961361, pvalue=5.777527311072619e-30)
Mutual info [0.00087397]
Values for pair WD3PM_N
Spearman SpearmanrResult(correlation=0.037620331332989476, pvalue=5.3980849076813845e-40)
Mutual info [6.65065903e-05]
Values for pair WD3PM_NE
Spearman SpearmanrResult(correlation=-0.018404885531783318, pvalue=9.548690466867206e-11)
Mutual info [0.00210304]
Values for pair WD3PM_NNE
Spearman SpearmanrResult(correlation=0.012560771286417232, pvalue=9.959150578954075e-06)
Mutual info [0.00134954]
Values for pair WD3PM_NNW
Spearman SpearmanrResult(correlation=0.03645793254120576, pvalue=1.1534851748396438e-37)
Mutual info [0.00085811]
Values for pair WD3PM_NW
Spearman SpearmanrResult(correlation=0.04156142660026203, pvalue=1.9647981534381654e-48)
Mutual info [0.00156172]
Values for pair WD3PM_S
Spearman SpearmanrResult(correlation=-0.007530348166453135, pvalue=0.008082177137198669)
Mutual info [0.00094888]
Values for pair WD3PM_SE
Spearman SpearmanrResult(correlation=-0.025531524521591253, pvalue=2.672667314105349e-19)
Mutual info [0.00033033]
Values for pair WD3PM_SSE
Spearman SpearmanrResult(correlation=-0.020179737284445092, pvalue=1.2625011873509334e-12)
Mutual info [0.00013578]
Values for pair WD3PM_SSW
Spearman SpearmanrResult(correlation=-0.0015907989120005055, pvalue=0.575808678587749)
Mutual info [0]
Values for pair WD3PM_SW
Spearman SpearmanrResult(correlation=-0.020589256856590073, pvalue=4.4069343426199975e-13)
Mutual info [0.00017249]
Values for pair WD3PM_W
Spearman SpearmanrResult(correlation=0.022183191133193458, pvalue=6.033325020429537e-15)
Mutual info [0.00074914]
Values for pair WD3PM_WNW
Spearman SpearmanrResult(correlation=0.038480981985321495, pvalue=9.131559177755387e-42)
Mutual info [0.00136275]
Values for pair WD3PM_WSW
Spearman SpearmanrResult(correlation=-0.0027414618658567033, pvalue=0.3349301807771339)
Mutual info [0.0026203]
Values for pair WD9AM_ENE
Spearman SpearmanrResult(correlation=-0.029415917269356856, pvalue=4.254121674136909e-25)
Mutual info [0.00158182]
Values for pair WD9AM_ESE
Spearman SpearmanrResult(correlation=-0.046800711572644794, pvalue=6.04634044214106e-61)
Mutual info [0.00139831]
Values for pair WD9AM_N
Spearman SpearmanrResult(correlation=0.062227921455124395, pvalue=2.1753753052437137e-106)
Mutual info [0.00200032]
Values for pair WD9AM_NE
Spearman SpearmanrResult(correlation=-0.008142430852044743, pvalue=0.004184475228573798)
Mutual info [0.00020672]
Values for pair WD9AM_NNE
Spearman SpearmanrResult(correlation=0.027656069226143706, pvalue=2.2664511917663297e-22)
Mutual info [0]
Values for pair WD9AM_NNW
Spearman SpearmanrResult(correlation=0.04843204151610769, pvalue=3.836400063113898e-65)
Mutual info [0.00124032]
Values for pair WD9AM_NW
Spearman SpearmanrResult(correlation=0.033167417601518465, pvalue=1.8382767220831187e-31)
Mutual info [0]
Values for pair WD9AM_S
Spearman SpearmanrResult(correlation=-0.018619447858634387, pvalue=5.7763201337340826e-11)
Mutual info [0.00069996]
Values for pair WD9AM_SE
Spearman SpearmanrResult(correlation=-0.04631519390689038, pvalue=1.0071183774268294e-59)
Mutual info [0.0028076]
Values for pair WD9AM_SSE
Spearman SpearmanrResult(correlation=-0.029276999458723644, pvalue=7.0801695445689255e-25)
Mutual info [0.00174018]
Values for pair WD9AM_SSW
Spearman SpearmanrResult(correlation=-0.0048067754594983275, pvalue=0.09090318536469755)
Mutual info [0.00073433]
Values for pair WD9AM_SW
Spearman SpearmanrResult(correlation=0.002410819888463834, pvalue=0.39647324698393405)
Mutual info [0]
Values for pair WD9AM_W
Spearman SpearmanrResult(correlation=0.024434672137864693, pvalue=8.292836349174859e-18)
Mutual info [0]
Values for pair WD9AM_WNW
Spearman SpearmanrResult(correlation=0.024941007337735323, pvalue=1.7298937610663955e-18)
Mutual info [0]
Values for pair WD9AM_WSW
Spearman SpearmanrResult(correlation=0.01115475164644232, pvalue=8.727905382365382e-05)
Mutual info [0.00080069]
Values for pair winter
Spearman SpearmanrResult(correlation=-0.03164592711794374, pvalue=8.635980973047357e-29)
Mutual info [0.00088651]
Values for pair spring
Spearman SpearmanrResult(correlation=-0.004763932099401811, pvalue=0.09381982789013044)
Mutual info [0.00035644]
Values for pair summer
Spearman SpearmanrResult(correlation=0.05885729874619193, pvalue=2.3205126488848108e-95)
Mutual info [0.00037436]
Values for pair autumn
Spearman SpearmanrResult(correlation=-0.021728363586282107, pvalue=2.1185714546798758e-14)
Mutual info [0]
Values for pair winterRain
Spearman SpearmanrResult(correlation=0.13136386430016278, pvalue=0.0)
Mutual info [0.00987728]
Values for pair springRain
Spearman SpearmanrResult(correlation=0.1485827735061597, pvalue=0.0)
Mutual info [0.00967813]
Values for pair summerRain
Spearman SpearmanrResult(correlation=0.18747557428539785, pvalue=0.0)
Mutual info [0.01474275]
Values for pair autumnRain
Spearman SpearmanrResult(correlation=0.10095502766898014, pvalue=1.4539999962831322e-277)
Mutual info [0.00455134]

[(0.5299940284391896, 'RainTomorrow'),
 (0.11894027864733214, 'Humidity3pm'),
 (0.0674512074215603, 'Sunshine'),
 (0.05829142047243163, 'Cloud3pm'),
 (0.056563226871514605, 'Rainfall'),
 (0.04805226231133508, 'RainToday'),
 (0.04409529192851447, 'Humidity9am'),
 (0.04237367383376678, 'Cloud9am'),
 (0.029747079147974365, 'Pressure9am'),
 (0.028696901429460464, 'WindGustSpeed'),
 (0.02667035360044734, 'Pressure3pm'),
 (0.02200369621077214, 'Temp3pm'),
 (0.014667159242895078, 'longitude'),
 (0.014280816792382911, 'summerRain'),
 (0.013982448039321138, 'MaxTemp'),
 (0.013474788915293301, 'latitude'),
 (0.009848990001829483, 'springRain'),
 (0.009736553165310857, 'Evaporation'),
 (0.007046823051412465, 'WindSpeed9am'),
 (0.006742470885089391, 'winterRain'),
 (0.005101468876152815, 'MinTemp'),
 (0.004519090741586185, 'autumnRain'),
 (0.0043508555553424255, 'summer'),
 (0.0038773544341672572, 'WindSpeed3pm'),
 (0.0035856016469300034, 'Month'),
 (0.0035693285903046768, 'WD9AM_WSW'),
 (0.0031679215798514626, 'WD9AM_SE'),
 (0.0031599519931237996, 'Temp9am'),
 (0.0031532215978122835, 'WD9AM_N'),
 (0.0030530267261223987, 'winter'),
 (0.002737531811673133, 'WD9AM_NNW'),
 (0.002631441783885524, 'WGD_NNE'),
 (0.002380422519462355, 'spring'),
 (0.002259076297318474, 'WD9AM_ESE'),
 (0.0022411823183374757, 'WGD_ESE'),
 (0.001630384553227504, 'WD3PM_SSW'),
 (0.0016185707396587645, 'WGD_WSW'),
 (0.0015881066094529661, 'WGD_N'),
 (0.0013819471403522243, 'WD9AM_NW'),
 (0.0013337365750578645, 'Year'),
 (0.0012995678726941406, 'WGD_NE'),
 (0.0012375773476638319, 'WD3PM_SSE'),
 (0.0011545617194734792, 'WD3PM_W'),
 (0.0010235845749868577, 'WD3PM_ESE'),
 (0.0009680660548683218, 'WD3PM_NNW'),
 (0.0009666420547143062, 'WGD_WNW'),
 (0.0008401571160332466, 'WGD_SSE'),
 (0.0008320999300412968, 'WGD_W'),
 (0.0008093956814063663, 'WD9AM_SW'),
 (0.0005417951286474931, 'WD9AM_S'),
 (0.0005070697899991483, 'WD3PM_SE'),
 (0.0004985155934091878, 'WGD_S'),
 (0.00045288524325437507, 'WD3PM_NNE'),
 (0.0004240467974629958, 'WD3PM_S'),
 (0.0003128048941187789, 'WD3PM_SW'),
 (0.00024505556208387347, 'WGD_SSW'),
 (0.00018479311238284168, 'WGD_NW'),
 (0.0001437658767229344, 'WD9AM_ENE'),
 (7.711408123234342e-05, 'WGD_SW'),
 (7.393599500682413e-05, 'WD9AM_NNE'),
 (0, 'autumn'),
 (0, 'WGD_SE'),
 (0, 'WGD_NNW'),
 (0, 'WGD_ENE'),
 (0, 'WD9AM_WNW'),
 (0, 'WD9AM_W'),
 (0, 'WD9AM_SSW'),
 (0, 'WD9AM_SSE'),
 (0, 'WD9AM_NE'),
 (0, 'WD3PM_WSW'),
 (0, 'WD3PM_WNW'),
 (0, 'WD3PM_NW'),
 (0, 'WD3PM_NE'),
 (0, 'WD3PM_N'),
 (0, 'WD3PM_ENE'),
 (0, 'Day')]

In [27]:
features = ['MinTemp',
 'MaxTemp',
 'Rainfall',
 'Evaporation',
 'Sunshine',
 'WindGustSpeed',
 'WindSpeed9am',
 'WindSpeed3pm',
 'Humidity9am',
 'Humidity3pm',
 'Pressure9am',
 'Pressure3pm',
 'Cloud9am',
 'Cloud3pm',
 'Temp9am',
 'Temp3pm',
 'RainToday',
 'Year',
 'Month',
 'Day',
 'winter',
 'spring',
 'summer',
 'autumn',
 'winterRain',
 'springRain',
 'summerRain',
 'autumnRain',
 'latitude',
 'longitude',
 'RainTomorrow']

In [29]:
df = df[features]

In [30]:
df.to_csv('weatherAUS_clean.csv', index=False)